.react-player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Ensure full viewport height */
}

.video-hidden {
    display: none !important;
}
